html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body  {
  -webkit-text-size-adjust: none;
  min-width: 480px;
}

body * {
  -webkit-backface-visibility: hidden;
}

html, body { height: 100%; }

body {
  color: #fff;
  background: transparent url('/images/bg.png');
  background-attachment:fixed;
}

a {
  color: $linkColor;
  @include transition(all 0.1s linear);
  &:hover { color: #fff; }
}

.masthead {
  //float: left;
  position: fixed;
  left: -100px;
  top: -100px;
  background: rgba(0,0,0,.1);
  width: 600px;
  height: 600px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  h1 { text-indent: -999em; }
  .tagline {
    text-indent: -999em;
    background: transparent url("/images/cup-of-tea.png") no-repeat;
    position: absolute;
    top: 115px;
    left: 130px;
    width: 416px;
    height: 289px;
  }

  .participants {
    list-style: none;
    li {
      position: absolute;
      display: inline-block;
      background-color: rgba(0,0,0,.1);
      @include border-radius(50%);

      &.host:before {
        content: '';
        position: absolute;
        top: -5px;
        right: -15px;
        width: 40px;
        height: 40px;
        background-image: url("/images/sprites.png");
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }
    .clock7 { left: 135px; top: 440px; }
    .clock6 { left: 260px; top: 470px; }
    .clock5 { left: 385px; top: 425px; }
    .clock4 { left: 455px; top: 320px; }
    img {
      @include border-radius(50%);
      border: 2px solid $paleGreen;
      margin: 8px;
      //@include box-shadow(0 0 15px rgba(200,200,200,.5));
    }
    a:hover img {
      margin-top: 7px;
      @include box-shadow(0 0 10px rgba(0,215,55,.7));
    }
  }
}

.main {
  position: relative;
  margin-left: 600px;
  max-width: 680px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #68b77e;
  background-color: rgba(255,255,255,.2);
  .global-nav {
    > ul {
      list-style: none;
      float: left;
      margin: 0;
      > li {
        display: inline-block;
        > a {
          color: $darkGreen;
          display: inline-block;
          padding: 0 20px;
          font-size: 18px;
          font-weight: bold;
          height: $footerHeight;
          line-height: $footerHeight;
        }
        &.open > a, > a:hover {
          color: #4C725E;
          background-color: rgba(255,255,255,.6);
        }
      }
    }
  
    .dropdown-menu {
      min-width: 320px;
      margin: 0 0 0 -50px;
      padding: 20px;
      border: none;
      color: #4C725E;
      background-color: rgba(255,255,255,.6);
      @include box-shadow(none);
      @include border-radius(0);
      li a, li.active a {
        font-size: 14px;
        color: #4C725E;
        background: none;
        &:hover {
          color: #fff;
          background-color: rgba(0,0,0,.3);
          @include border-radius(15px);
        }
      }
      .social-buttons { 
        list-style: none;
        margin: 0;
        a { 
          padding: 3px 10px; 
          i { vertical-align: middle;}
        }
      }
      form {
        label {
          display: block;
          color: #4C725E;
          font-size: 14px;
        }
      }
    }

    .social-connect {
      li.open > a, li > a:hover { background: none; }
      a i { vertical-align: middle; }
    }
  }
  .copyright {
    float: right;
    margin: 10px 40px 0 0;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
    color: #9bf7b3;
    a {
      color: #9bf7b3;
      &:hover { color: #fff; text-decoration: none; }
    }
    .vender {}
  }
}

.page-nav {
  list-style: none;
  a {
    position: fixed;
    bottom: 100px;
    left: -50px;
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    display: inline-block;
    color: #a0c7aa;
    background-color: rgba(0,0,0,.1);
    @include border-radius(50%);
    i { font-size: 80px; margin: -5px 0 0 30px; vertical-align: middle; }
    &:hover {
      text-decoration: none;
      color: $darkGreen;
      background-color: rgba(255,255,255,.4);
    }
  }
  .next {
    left: inherit;
    right: -50px;
    i {  margin: -5px 0 0 -35px;  }
  }
  .prev.disabled, .next.disabled {
    display: none;
  }
}


@media print, screen and (max-width: 1280px) {
  body {
    .main {
      margin-left: 500px;
    }
  }
}

@media print, screen and (max-width: 1024px) {
  body {
    .masthead { 
      position: relative; 
      float: left;
      left: 50%;
      margin-left: -300px;
      top: -50px;
    }
    .main {
      float: left;
      margin: 0 50px 40px;
      max-width: inherit;
      .post { margin: 0 5%; }
    }
    .footer { 
      position: static;
      .copyright { padding-bottom: 20px; }
    }
    .global-nav { 
      position: fixed;
      top: 0;
      left: 0;
      > ul > li > a { 
        background-color: rgba(255,255,255,.4);
        &:hover { background-color: rgba(255,255,255,.6); }
      }
      .social-connect { 
        margin: 0 3px 3px 0;
        float: none;
        > li.open > a, > li > a:hover { background-color: rgba(255,255,255,.6) !important; }
      }
      .dropup .dropdown-menu {
        bottom: auto;
        top: 100%;
        margin: 0;
        background-color: rgba(255,255,255,.8);
      }
    }
  }
}
