[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  @include ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/images/sprites.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icons-mic                { background-position: 0      0; width: 40px; height: 40px; }
.icons-podcast            { background-position: -40px  0; width: 40px; height: 40px; }
.icons-email              { background-position: -80px  0; width: 40px; height: 40px; }
.icons-twitter            { background-position: -120px 0; width: 50px; height: 40px; }
.icons-download           { background-position: 0 -80px; width: 50px; height: 40px; }
.icons-share              { background-position: -40px -80px; width: 50px; height: 40px; }

a:hover {
  .icons-mic                { background-position: 0      -40px; }
  .icons-podcast            { background-position: -40px  -40px; }
  .icons-email              { background-position: -80px  -40px; }
  .icons-twitter            { background-position: -120px -40px; }
}