[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  @include ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/images/sprites.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
}

.icons-mic                { background-position: 0      0; width: 40px; height: 40px; }
.icons-podcast            { background-position: -40px  0; width: 40px; height: 40px; }
.icons-email              { background-position: -80px  0; width: 40px; height: 40px; }
.icons-rss                { background-position: -120px 0; width: 40px; height: 40px; }
.icons-download           { background-position: 0 -90px; width: 40px; height: 30px;}
.icons-share              { background-position: -40px -90px; width: 40px; height: 30px; }

.icons-twitter            { background-position: 0px -120px; width: 25px; }
.icons-facebook           { background-position: -25px -120px; width: 25px; }
.icons-weibo              { background-position: -50px -120px; width: 25px; }

a:hover {
  .icons-mic                { background-position: 0      -40px; }
  .icons-podcast            { background-position: -40px  -40px; }
  .icons-email              { background-position: -80px  -40px; }
  .icons-rss                { background-position: -120px -40px; }
  .icons-twitter            { background-position: 0px -140px; }
  .icons-facebook           { background-position: -25px -140px; }
  .icons-weibo              { background-position: -50px -140px; }
}