/* Typography */

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $sansFontFamily: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
// $serifFontFamily: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",Times, serif;

$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          16px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        24px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, 

$textColor:             #a7dbb7;
$linkColor:             #9ccb62;
$paleGreen:             #a0c7aa;
$darkGreen:             #1a562a;


$footerHeight:          60px;

