.post {
  position: relative;
  margin: 40px 5%;
  padding: 5%;
  font-size: 14px;
  color: $textColor;
  background: rgba(0,0,0,.2);
  @include border-radius(10px);
  .player {
    position: relative;
    width: 100%;
    background: rgba(0,0,0,.8);
    vertical-align: middle;
    line-height: 10px;
    height: 30px;
    @include border-radius(5px);
    audio { width: 80%; }
    .actions {
      position: absolute;
      right: 0;
      top: 0;
      list-style: none;
      margin: 0;
      line-height: 14px;
      li {
        display: inline-block;
        i {
          margin: 0;
          vertical-align: middle;
          img { visibility: hidden; }
        }
      }
    }
  }
  .bdsharebuttonbox {
    float: right;
  }
  .weixin {
    float: right;
  }
  .title {
    font-size: 24px;
    border-bottom: 1px solid #5F9B6F;
    small {
      display: block;
      color: #5F9B6F;
      font-size: 12px;
    }
  }
  h4 { font-size: 14px; }
  .notes {
    margin-bottom: 40px;
  }
}


.main.container {
  h1, h2, h3, h4 {
    font-family: "Museo Slab";
  }

  article {
    padding-bottom: 80px;

    .controls {
      width: 64px;
      margin-top: 10px;
      text-align: center;

      ul {
        margin: 0;
        list-style-type: none;
      }

      .post-date-wrapper {
        background-color: #9B7A74;
        color: #ffffff;
        height: 64px;
        @include border-radius(32px);
        position: relative;

        .post-date {
          position: absolute;
          width: 50%;
          height: 70%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;

          .month {
            font-size: 0.9em;
          }

          .day {
            font-size: 1.8em;
          }
        }
      }

      .download {
        margin-top: 10px;
      }
    }

    .content {
      margin-left: 80px;

      .tag-list {
        margin: 0 0 10px 0;
        li {
          padding: 2px 8px;
          display: inline-block;
          font-size: 90%;
          list-style-type: none;
          @include border-radius(8px);
          background-color: #F4F4F4;
        }
      }

      audio {
        width: 100%;
      }
    }
  }

  #disqus_thread {
    margin-top: 40px;
  }
}

@media print, screen and (max-width: 720px) {
  .index .container {
    article {
      .controls {
        float: none;
        width: 95%;

        ul {
          text-align: left;

          li {
            display: inline-block;

            &.post-date-wrapper {
              background-color: #ffffff;
              color: #000000;
              height: auto;

              .post-date {
                position: relative;
                width: 100%;
                height: 100%;

                .month, .day {
                  display: inline;
                  font-size: 1.4em;
                }
              }
            }

            &.download, &.share {
              margin-top: 0px;
              margin-left: 10px;
            }
          }
        }
      }

      .content {
        margin-left: 0px;
      }
    }
  }
}
// tinysou plugin
.modal a:hover {
  color: #7a7a7a;
}
.ts-result span.ts-snippet em {
  background-color: #afd482;
}
body .tinysou-widget .autocomplete li.active {
  background-color: #76a938;
  border-bottom: #608a2e;
  border-top: #608a2e;
  background: linear-gradient(#92c653 , #608a2e);
  box-shadow: 0 1px 0 #608a2e inset;
}
body .tinysou-widget .autocomplete li p.title {
  color: #567a29;
}
